$dark: #040404;
$white: #ffffff;
$dark-shade: rgba(0, 0, 0, 0.9);

$green: #15bb62;
$green-1: #18d26e;
$green-2: #35e888;
$green-3: #4ceb95;
$green-4: #63eda3;

$gray: #444444;
$gray-1: #999999;
$gray-2: #aaaaaa;
$gray-3: #eeeeee;

$red: #ed3c0d;

$open-sans: "Open Sans", sans-serif;
$poppins: "Poppins", sans-serif;
