@import"https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i";
@import"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

body {
    font-family: "Open Sans", sans-serif;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff
}

.header {
    width: 100%;
    height: 80px;
    background: #040404 !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%
}

.header nav h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0
}

.header nav .nav-bar {
    display: flex;
    align-items: center;
    margin: 0
}

.header nav .nav-bar .nav-item {
    margin-right: 40px
}

.header nav .nav-bar .nav-item a:hover,
.header nav .nav-bar .nav-item.active a {
    color: #fff
}

.header nav .nav-bar .nav-item a:hover::before,
.header nav .nav-bar .nav-item.active a::before {
    width: 30px
}

.header nav .nav-bar .nav-item a {
    text-decoration: none;
    color: #999;
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 16px
}

.header nav .nav-bar .nav-item a::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 50rem;
    background: #15bb62;
    transition: all .4s
}

.home {
    width: 100%;
    height: 100vh;
    overflow: hidden
}

.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%
}

.home .content h1 {
    font-weight: bold;
    font-size: 8vw;
    margin: 0
}

.home .content p {
    color: #999;
    font-size: 2vw;
    margin: 20px 0 0 0
}

.home .content p .role {
    color: #fff;
    display: inline-block;
    border-bottom: 3px solid #15bb62;
    padding-bottom: 5px
}

.home .content .social-media-links {
    display: flex;
    align-items: center;
    margin-top: 50px
}

.home .content .social-media-links li {
    margin-right: 10px;
    display: inline-block
}

.home .content .social-media-links li a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    background: #444;
    color: #fff;
    transition: all .2s ease-in
}

.home .content .social-media-links li a:hover {
    background: #15bb62
}

.section-box {
    width: 100%;
    padding-top: 100px
}

.section-box .content {
    background: rgba(0, 0, 0, .9);
    border-radius: .3rem;
    padding: 30px
}

.section-box .content .heading {
    text-transform: uppercase;
    color: #aaa;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    position: relative;
    display: inline-block
}

.section-box .content .heading::after {
    content: "";
    display: inline-block;
    width: 100px;
    position: absolute;
    top: 50%;
    left: calc(100% + 20px);
    transform: translateY(-50%);
    height: 1px;
    background: #4ceb95
}

.section-box .content .sub-heading {
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff
}

.section-box .content .title {
    font-weight: 700;
    font-size: 26px;
    color: #18d26e
}

.about li,
.skills li {
    margin-bottom: 20px;
    display: flex;
    align-items: center
}

.about li i,
.skills li i {
    font-size: 16px;
    margin-right: 5px;
    color: #18d26e;
    line-height: 0
}

.about li strong,
.skills li strong {
    margin-right: 10px
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, .2);
    position: relative
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #18d26e;
    border: 2px solid #18d26e
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #18d26e;
    margin-bottom: 10px
}

.resume .resume-item ul {
    padding-left: 20px
}

.resume .resume-item ul li {
    padding-bottom: 10px
}

.resume .resume-item h5 {
    font-size: 16px;
    background: rgba(255, 255, 255, .15);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px
}

.contact .info-box {
    color: #444;
    padding: 20px;
    width: 100%;
    background: rgba(255, 255, 255, .08)
}

.contact .info-box .icon {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    background: rgba(255, 255, 255, .1);
    padding: 14px
}

.contact .info-box .icon i {
    font-size: 24px;
    color: #18d26e
}

.contact .info-box h3 {
    font-size: 20px;
    color: rgba(255, 255, 255, .5);
    font-weight: 700;
    margin: 10px 0 8px 68px
}

.contact .info-box p {
    padding: 0;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px
}

/*# sourceMappingURL=style.css.map */